  <h1 id="shop_name">SHOP
  <hr id="shop_name_underline">
  </h1>
  <div class="grid-container">
  <div class="grid">
    <div id="opening_times">
      <h6>Öffnungszeiten:</h6>
      <ul>
        <li>Stuff</li>
        <li>Stuff</li>
      </ul>
    </div>
    <div id="location">
      <h6>Adresse:</h6>
      <ul>
        <li>Stuff</li>
        <li>Stuff</li>
        <li>Stuff</li>
      </ul>
    </div>
    <div id="price">
      <h6>Preis</h6>
      <p></p>
    </div>
    <div id="events">
      <h6>Events:</h6>
      <ul>
        <li>Stuff</li>
        <li>Stuff</li>
        <li>Stuff</li>
      </ul>
    </div>
    <div id="symbols">item</div>
    <div id="link_to_shop">item</div>
  </div>
    <ul id="tab_shop_description">
      <li class="tab-content tab-active" (click)="showTabContent()">
        Beschreibung
      </li>
      <li class="tab-content" (click)="showTabContent()">
        Event
      </li>
      <li class="tab-content" (click)="showTabContent()">
        Zubereitung
      </li>
    </ul>
  <div class="shop_description description-active">
      <form>
        <input>
      </form>
  </div>
  <div class="shop_description">
      33
  </div>
  <div class="shop_description">
      7
  </div>
  <div class="slideshow-container">
    <div class="mySlides first">
      <div class="numbertext">1 / 3</div>
      <img src="https://dummyimage.com/600x700/fff/000" style="width:100%">
      <div class="text">Caption Text</div>
    </div>

    <div class="mySlides">
      <div class="numbertext">2 / 3</div>
      <img src="https://dummyimage.com/600x400/fff/000" style="width:100%">
      <div class="text">Caption Two</div>
    </div>

    <div class="mySlides">
      <div class="numbertext">3 / 3</div>
      <img src="https://dummyimage.com/600x400/fff/000" style="width:100%">
      <div class="text">Caption Three</div>
    </div>
    <div class="dots">
      <span class="dot" (click)="currentSlide(1)"></span>
      <span class="dot" (click)="currentSlide(2)"></span>
      <span class="dot" (click)="currentSlide(3)"></span>
    </div>
    <br>
    <a class="prev" (click)="plusSlides(-1)">&#10094;</a>
    <a class="next" (click)="plusSlides(1)">&#10095;</a>
  </div>
  </div>
