<header>
  <app-side-nav *ngIf="currentWindowWidth < 600"></app-side-nav>
  <div *ngIf="brand && currentWindowWidth > 600"><a class="navbar-brand" [routerLink]="['/']"><img [src]=brand id="brand"></a></div>
  <nav class='navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3' *ngIf="currentWindowWidth > 500">
    <div class="container">
      <button mat-button class="nav-item" [routerLinkActive]='["link-active"]' [routerLink]="['/shops']">Café</button>
      <button mat-button class="nav-item" [routerLinkActive]='["link-active"]' [routerLink]="['/supplies']">Bohnen & Zubehör</button>
      <button mat-button class="nav-item" [routerLinkActive]='["link-active"]' [routerLink]='["/events"]'>Events</button>
      <button mat-button class="nav-item" [routerLinkActive]='["link-active"]' [routerLink]='["/about-us"]'>Über uns</button>
      <button mat-button class="nav-item"  [routerLinkActive]='["link-active"]'  [routerLink]='["/admin"]'>Admin Bereich</button>
      <div *ngIf="currentWindowWidth >= 768">
      <div id="login-dropdown">
      <span (click)="dropdown()"> Login </span>
      <div id="login-dropdown-content">
            <mat-form-field>
            <input type="email" matInput placeholder="Email" class="form-control" id="email" required [formControl]="emailFormControl">
            </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Passwort" type="password" class="form-control" id="password" required [formControl]="passwordFormControl">
          </mat-form-field>
          <button mat-button id="btn-login-logout" (click)="login()" class="nav-btn-login">
            Login
          </button>
          <button mat-button id="btn-register" class="nav-btn-login" [routerLink]='["/registration"]'>Registierung</button>
      </div>
      </div>
    </div>
    </div>
  </nav>
  <ng-template #Logout>
    <button mat-button (click)="logout()">Logout</button>
  </ng-template>
</header>
