<header>
  <app-side-nav *ngIf="currentWindowWidth < 600"></app-side-nav>
  <div *ngIf="brand && currentWindowWidth > 600"><a class="navbar-brand" [routerLink]="['/']"><img [src]=brand id="brand"></a></div>
  <nav class='navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3' *ngIf="currentWindowWidth > 500">
    <div class="container">
      <button mat-button [matMenuTriggerFor]="menuShop" class="nav-item" [routerLinkActive]='["link-active"]' [routerLink]="['/shop']">Shops</button>
      <mat-menu #menuShop="matMenu">
        <button mat-menu-item>Café</button>
        <button mat-menu-item>Rösterei</button>
      </mat-menu>
      <button mat-button [matMenuTriggerFor]="menuWiki"
              class="nav-item"
              [routerLinkActive]='["link-active"]' [routerLink]="['/wiki']"
      >Wiki
      </button>
      <mat-menu #menuWiki>
        <button mat-menu-item [routerLink]='["/wiki/equipment"]' [routerLinkActive]='["link-active"]' mouse>Equipment</button>
        <button mat-menu-item [routerLink]='["/wiki/coffee"]' [routerLinkActive]='["link-active"]'>Kaffee</button>
      </mat-menu>
      <button mat-button class="nav-item" [routerLinkActive]='["link-active"]' [routerLink]='["/admin"]'>Events</button>
      <button mat-button class="nav-item" [routerLinkActive]='["link-active"]' [routerLink]='["/about-us"]'>Über uns</button>
      <div *ngIf="currentWindowWidth >= 768">
      <div id="login-dropdown">
      <span (click)="dropdown()"> Login </span>
      <div id="login-dropdown-content">
        <form class="login-registration-form">
          <div class="form-group">
            <input type="text" class="form-control" id="email" required>
            <label for="email">Email</label>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" id="passwort" required>
            <label for="passwort">Passwort</label>
          </div>
          <button mat-button id="btn-login-logout" [routerLink]='["/user"]' class="nav-btn-login">
            Login
          </button>
          <button mat-button id="btn-register" class="nav-btn-login" [routerLink]='["/registration"]'>Registierung</button>
        </form>
      </div>
      </div>
    </div>
    </div>
  </nav>
</header>
