app-checkbox-equipment .search-field{
  margin: 0 0 0 10px;
  width: fit-content;
}

app-checkbox-equipment .checkbox{
  margin-right: 10px;
}

app-checkbox-equipment .search-equipment{
  margin-right: 5px;
}
