<div class="search-field">
    <mat-form-field *ngIf="router.url != urlGlobalPath.get('admin')">
      <input matInput placeholder="Equipment Name" [formControl]="equipmentNameFormControl" id="name" type="text" (keydown.enter)="triggerSearchEquipment()">
    </mat-form-field>
  <mat-form-field class="select-form-field">
    <mat-select  id=equipmentCategory placeholder="Equipment Kategorie" multiple [formControl]="selectEquipmentCategoryFormControl" [compareWith]="compareService.compareEquipmentCategory">
      <mat-option *ngFor="let equipmentCategory of chooseEquipmentCategories" [value]="equipmentCategory">{{equipmentCategory.name}}</mat-option>
    </mat-select>
  </mat-form-field>
  <div  *ngIf="router.url == '/admin'">
    <button mat-button id="clearbutton" (click)="clear()">Checks aufheben</button>
  </div>
</div>
