<div class="search-field">
    <mat-form-field class="search-equipment"*ngIf="router.url != urlGlobalPath.get('admin')">
      <input matInput placeholder="Name" [formControl]="equipmentNameFormControl" id="name" type="text" (keydown.enter)="triggerSearchEquipment()">
    </mat-form-field>
  <mat-form-field class="search-equipment">
    <mat-select  id="equipmentCategories" placeholder="Equipment Kategorie" multiple [formControl]="selectEquipmentCategoryFormControl" [compareWith]="compareService.compareEquipmentCategory">
      <mat-option *ngFor="let equipmentCategory of equipmentCategory" [value]="equipmentCategory">{{equipmentCategory.name}}</mat-option>
    </mat-select>
  </mat-form-field>
    <mat-form-field class="search-equipment">
      <mat-label>Landmarken</mat-label>
      <mat-select id="poi" multiple>
        <mat-option *ngFor="let poi of checkBoxPois" [value]="poi.name">
          {{poi.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="search-equipment">
      <mat-label>Bus Station</mat-label>
      <mat-select id="busStation">
        <mat-option>--</mat-option>
        <mat-option *ngFor="let busStation of checkBoxBusStation" [value]="busStation.name">
          {{busStation.name + ' ' + busStation.line}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
