.form-control,
.form-control:focus{
  background: transparent;
  border: none;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  padding: 0;
  border-bottom: lightskyblue 1px solid;
  width: 70%;

}

.container {
  width: 500px;
  clear: both;
  display: grid;
}

.container input {
  width: 100%;
  clear: both;
}

.form-group{
  display: inline-grid;
}

.star{
  color:red;
  font-size: 5px;
  vertical-align: text-top;
}

#register-underline{
  padding: 0;
  margin-top: -0.8%;
  border-top: solid #87cdf1;
}
#h1register{
  display: inline-block;
}
