<div class="container">
  <button mat-button [matMenuTriggerFor]="menu" id="selected_menu" color="warn">Auswählen</button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="getJSONofShop()">Hinzufügen</button>
    <button mat-menu-item (click)="editContent()">Editieren</button>
    <button mat-menu-item (click)="saveContent()">Speichern</button>
    <button mat-menu-item (click)="deleteContent()">Löschen</button>
    <button mat-menu-item (click)="restoreContent()">Wiederherstellen</button>
  </mat-menu>
  <mat-slide-toggle>
    Veröffentlicht
  </mat-slide-toggle>
    <mat-tab-group #matTabShop class="first-mat-tab-group">
      <mat-tab  id="shop-tab" label="Shop">
      <app-shop-tab></app-shop-tab>
      </mat-tab>
      <mat-tab  id="event-tab" label="Equipment" class="first-mat-group">
      </mat-tab>
      <mat-tab  id="article-tab" label="Article" class="first-mat-group">
        <mat-form-field class="name-form-field">
          <input matInput type="text" placeholder="Name" [(ngModel)]="value">
          <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
        <mat-form-field class="description">
          <mat-label>Beschreibung</mat-label>
          <textarea matInput
                    cdkTextareaAutosize
                    cdkAutosizeMinRows="2"
          ></textarea>
        </mat-form-field>
      </mat-tab>
    </mat-tab-group>
</div>
