.grid-container{
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: auto;
}

.dropdown{
  grid-column: 2 / 2;
  margin-top: 5%;
  margin-left: 30%;
}
.action-dropdown{
  display: inline-grid;
  text-align: center;
}

.action-dropdown a{
  alignment: center;
  cursor: pointer;
  background: white;
  color:black;
}

.action-dropdown a:hover{
  alignment: center;
  cursor: pointer;
  background: black;
  color:white;
}

.input-content{
  display: none;
}

div.input-content.active-input > label:nth-child(3){
  margin-top: 10px;
}

.active-input{
  display: block;
}

.input-content{
  display: grid;
  grid-row: auto;
  grid-column: auto;
  align-items: center;
}

.input-group{
  grid-row: 1 / 1;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
}

.input-gallery{
  grid-column: 3 / 3;
  grid-row: 2 / span 4;
  z-index: 1;
  margin-left: 47%;
  margin-top: 2.56%;
  position: absolute;
}


mat-form-field.name-form-field{
  width:30%;
}

mat-form-field.description{
  width:60%;
}

mat-form-field.name-form-field{
  display: block;
  clear: both;
}
img{
  display: block;

}

mat-checkbox{
  margin-right: 10px;
}

.active{
  color: white;
}

/* Styles for the ink bar */
.mat-ink-bar {
  background-color: green;
}

.mat-tab-header, .mat-tab-nav-bar{
  border-bottom: 0;
}


app-admin-profile .mat-tab-label-container{
  display: flex;
  flex-grow: 1;
  overflow: hidden;
  z-index: 1;
  bottom: 88%;
  position: fixed;
  right: 60%;
}

app-admin-profile mat-tab-group#second-mat-tab-group .mat-tab-label-container{
  background-color: yellow;
  display: flex;
  flex-grow: 1;
  left: 0;
  float: right;
  overflow: hidden;
  position: relative;
  width: 200%;

}

app-admin-profile mat-tab-group#second-mat-tab-group .mat-tab-header{
  width: fit-content;
}

app-admin-profile .mat-tab-body-content {
  overflow: visible;
}

/* Styles for tab labels */
app-admin-profile .mat-tab-label {
  min-width: 25px;
  background-color: transparent;
  color: red;
  font-weight: 700;
}

/* Styles for the active tab label */
app-admin-profile .mat-tab-label.mat-tab-label-active {
  min-width: 25px;
  background-color: transparent;
  color: red;
  font-weight: 700;
}


app-admin-profile button#selected_menu{
  float: right;
  z-index: 2;
  top: 20px;
  right: 10px;
  background-color: white;
  outline: none;
  list-style-position:inside;
  border: 0;
  box-shadow: none;
  border-radius: 0;
}

app-admin-profile mat-slide-toggle{
  float: right;
  z-index: 2;
  position: relative;
  top: 25px;
  right: 20px;
}


