app-admin-profile{
  width: 100%;
}
app-admin-profile .grid-container{
  display: flex;
}

app-admin-profile .container{
  display: flex;
}

app-admin-profile .action{
  display: flex;
  margin-top: 20px;
  flex:1;
  order:2;
  flex-direction: column;
}

app-admin-profile .tab-content{
  flex:5;
  order:1;
}

app-admin-profile .action-dropdown a{
  alignment: center;
  cursor: pointer;
  background: white;
  color:black;
}

app-admin-profile .action-dropdown a:hover{
  alignment: center;
  cursor: pointer;
  background: black;
  color:white;
}

app-admin-profile .input-content{
  display: none;
}

app-admin-profile div.input-content.active-input > label:nth-child(3){
  margin-top: 10px;
}

app-admin-profile .active-input{
  display: block;
}

app-admin-profile .input-content{
  display: grid;
  grid-row: auto;
  grid-column: auto;
  align-items: center;
}

app-admin-profile .first-mat-tab-group{
  grid-row: 1 / 1;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
}

app-admin-profile .input-gallery{
  grid-column: 3 / 3;
  grid-row: 2 / span 4;
  z-index: 1;
  margin-left: 47%;
  margin-top: 2.56%;
  position: absolute;
}

app-admin-profile mat-form-field.name-form-field{
  display: block;
  clear: both;
}
app-admin-profile img{
  display: block;

}

app-admin-profile app-checkbox div.container{
  margin-top: 15px;
}
app-admin-profile mat-checkbox{
  margin-right: 10px;
}

app-admin-profile .active{
  color: white;
}

/* Styles for the ink bar */
app-admin-profile .mat-ink-bar {
  background-color: green;
}

app-admin-profile .mat-tab-header, .mat-tab-nav-bar{
  border-bottom: 0;
}

app-admin-profile mat-tab-group#second-mat-tab-group .mat-tab-label-container{
  display: flex;
  flex-grow: 1;
  left: 0;
  float: right;
  overflow: hidden;
  position: relative;
  width: 200%;

}

app-admin-profile mat-tab-group#second-mat-tab-group .mat-tab-header{
  width: fit-content;
}

app-admin-profile .mat-tab-body-content {
  margin: 0;
  height: 100%;
  overflow: hidden;
  width: 100%;
}

/* Styles for tab labels */
app-admin-profile .mat-tab-label {
  min-width: 25px;
  background-color: transparent;
  color: red;
  font-weight: 700;
}

/* Styles for the active tab label */
app-admin-profile .mat-tab-label.mat-tab-label-active {
  min-width: 25px;
  background-color: transparent;
  color: red;
  font-weight: 700;
}

app-admin-profile .address{
  display: inline-block;
  width: 20%;
  margin-right: 20px;
}

app-admin-profile .description{
  display: block;
}

