 <app-checkbox #checkbox class="checkbox"></app-checkbox>
  <mat-form-field class="shop-form-field address">
    <input id="streetName" matInput #address="matInput" type="text" placeholder="Straße" [formControl]="streetFormControl">
  </mat-form-field>
  <mat-form-field class="shop-form-field address">
    <input id="streetNr" matInput #address="matInput" type="text" placeholder="StraßeNr" [formControl]="streetNrFormControl" (input)="validateFormControl()">
    <mat-error *ngIf="streetNrFormControl.hasError('pattern')">Nur Zahlen</mat-error>
  </mat-form-field>
  <mat-form-field  class="shop-form-field address">
    <input id="country" matInput #address="matInput" type="text" placeholder="Land" [formControl]="countryFormControl">
  </mat-form-field>
 <mat-form-field  class="shop-form-field address">
   <input id="postalCode" matInput #address="matInput" type="text" placeholder="Postleitzahl" [formControl]="postalCodeFormControl" (input)="validateFormControl()">
   <mat-error *ngIf="postalCodeFormControl.hasError('pattern')">Nur Zahlen und mind. 2</mat-error>
 </mat-form-field>
 <mat-form-field  class="shop-form-field address">
   <input id="town" matInput #address="matInput" type="text" placeholder="Stadt" [formControl]="townFormControl">
 </mat-form-field>
  <mat-form-field  class="description">
    <input id="name" matInput #inputs="matInput" type="text" required placeholder="Name" [formControl]="shopNameFormControl">
    <mat-error *ngIf="shopNameFormControl.hasError('required')">Es muss einen Namen angebgeben werden</mat-error>
  </mat-form-field>
 <mat-form-field  class="description">
   <input id="companyName" matInput #inputs="matInput" type="text" required placeholder="Firmen Name" [formControl]="companyNameFormControl">
   <mat-error *ngIf="companyNameFormControl.hasError('required')">Es muss einen Namen angebgeben werden</mat-error>
 </mat-form-field>

 <mat-form-field class="description">
   <mat-label>Beschreibung</mat-label>
   <textarea
     matInput
     id="description"
     #inputs="matInput"
     [formControl]="shopDescriptionFormControl"
     maxlength="1000"
     cdkTextareaAutosize
     cdkAutosizeMinRows="2"
   ></textarea>
 </mat-form-field>
 <mat-form-field  class="description">
   <input id="website" matInput #inputs="matInput" type="url" placeholder="Website" [formControl]="shopWebsiteFormControl">
 </mat-form-field>

 <mat-form-field  class="description">
   <input id="foundingYear" matInput #inputs="matInput" type="number" placeholder="Gründungs Jahr" min="2" oninput="this.value = Math.abs(this.value)" [formControl]="shopFoundingYearFormControl">
   <mat-hint>Gründung mindesten ab 1700er</mat-hint>
 </mat-form-field>


 <ng-container *ngIf="isLoaded">
   <mat-form-field class="select-form-field">
     <mat-select id=busStation placeholder="Bus Haltestelle" [formControl]="selectBusStationFromControl" [compareWith]="compareService.compareBusStation" multiple>
       <mat-option *ngFor="let busStation of chooseBusStations" [value]="busStation">{{busStation.name}}</mat-option>
     </mat-select>
   </mat-form-field>
 <mat-form-field class="select-form-field">
   <mat-select  id=poi placeholder="Landmarken" multiple [formControl]="selectPoiFormControl" [compareWith]="compareService.comparePoi">
     <mat-option *ngFor="let poi of choosePois" [value]="poi">{{poi.name}}</mat-option>
   </mat-select>
 </mat-form-field>
 <mat-form-field class="select-form-field">
   <mat-select  id=blend placeholder="Blend" multiple [formControl]="selectBlendFormControl" [compareWith]="compareService.compareBlend">
     <mat-option *ngFor="let blend of chooseBlends" [value]="blend">{{blend.name}}</mat-option>
   </mat-select>
 </mat-form-field>
 <mat-form-field class="select-form-field">
   <mat-select  id=equipmentCategory placeholder="Equipment Kategorie" multiple [formControl]="selectEquipmentCategoryFormControl" [compareWith]="compareService.compareEquipmentCategory">
     <mat-option *ngFor="let equipmentCategory of chooseEquipmentCategories" [value]="equipmentCategory">{{equipmentCategory.name}}</mat-option>
   </mat-select>
 </mat-form-field>
 <mat-form-field class="select-form-field">
   <mat-select  id=coffeeDrink placeholder="Kaffee Getränke" multiple [formControl]="selectCoffeeDrinkFormControl" [compareWith]="compareService.compareCoffeeDrink">
     <mat-option *ngFor="let coffeeDrink of chooseCoffeeDrinks" [value]="coffeeDrink">{{coffeeDrink.name}}</mat-option>
   </mat-select>
 </mat-form-field>
 <mat-form-field class="select-form-field">
   <mat-select  id=bean placeholder="Bohnen" multiple [formControl]="selectBeanFormCotnrol" [compareWith]="compareService.compareBean">
     <mat-option *ngFor="let bean of chooseBeans" [value]="bean">{{bean.name + " " + bean.provenance}}</mat-option>
   </mat-select>
 </mat-form-field>
   <h5>Öffnungszeiten Angabe in folgenden Format HH:MM</h5>
<div class="opening-times">
    <div class="weekday monday">
      <p>Montag</p>
      <mat-form-field>
      <input matInput placeholder="Offen" type="text" maxlength="5" [formControl]="mondayOpenFormControl" (input)="this.validateFormControl()">
      <mat-error *ngIf="mondayOpenFormControl.hasError('pattern')">Falsches Format</mat-error>
      </mat-form-field>
      <mat-form-field>
      <input matInput placeholder="Geschlossen" type="text" maxlength="5" [formControl]="mondayCloseFormControl" (input)="this.validateFormControl()">
      <mat-error *ngIf="mondayCloseFormControl.hasError('pattern')">Falsches Format</mat-error>
      </mat-form-field>
    </div>
    <div class="weekday tuesday">
      <p>Dienstag</p>
      <mat-form-field>
      <input matInput type="text" placeholder="Offen" maxlength="5" [formControl]="tuesdayOpenFormControl" (input)="this.validateFormControl()">
      <mat-error *ngIf="tuesdayOpenFormControl.hasError('pattern')">Falsches Format</mat-error>
      </mat-form-field>
      <mat-form-field>
      <input matInput type="text" placeholder="Geschlossen" maxlength="5" [formControl]="tuesdayCloseFormControl" (input)="this.validateFormControl()">
      <mat-error *ngIf="tuesdayCloseFormControl.hasError('pattern')">Falsches Format</mat-error>
      </mat-form-field></div>
    <div class="weekday wednesday">
      <p>Mittwoch</p>
      <mat-form-field>
      <input matInput type="text" placeholder="Offen" maxlength="5" [formControl]="wednesdayOpenFormControl" (input)="this.validateFormControl()">
      <mat-error *ngIf="wednesdayOpenFormControl.hasError('pattern')">Falsches Format</mat-error>
      </mat-form-field>
      <mat-form-field>
      <input matInput type="text" placeholder="Geschlossen" maxlength="5" [formControl]="wednesdayCloseFormControl" (input)="this.validateFormControl()">
      <mat-error *ngIf="wednesdayCloseFormControl.hasError('pattern')">Falsches Format</mat-error>
      </mat-form-field>
    </div>
    <div class="weekday thursday">
      <p>Donnerstag</p>
      <mat-form-field>
      <input matInput type="text" placeholder="Offen" maxlength="5" [formControl]="thursdayOpenFormControl" (input)="this.validateFormControl()">
      <mat-error *ngIf="thursdayOpenFormControl.hasError('pattern')">Falsches Format</mat-error>
      </mat-form-field>
      <mat-form-field>
      <input matInput type="text" placeholder="Geschlossen" maxlength="5" [formControl]="thursdayCloseFormControl" (input)="this.validateFormControl()">
      <mat-error *ngIf="thursdayCloseFormControl.hasError('pattern')">Falsches Format</mat-error>
      </mat-form-field>
    </div>
    <div class="weekday friday">
      <p>Freitag</p>
      <mat-form-field>
      <input matInput type="text" placeholder="Offen" maxlength="5" [formControl]="fridayOpenFormControl" (input)="this.validateFormControl()">
      <mat-error *ngIf="fridayOpenFormControl.hasError('pattern')">Falsches Format</mat-error>
      </mat-form-field>
      <mat-form-field>
      <input matInput type="text" placeholder="Geschlossen" maxlength="5" [formControl]="fridayCloseFormControl" (input)="this.validateFormControl()">
      <mat-error *ngIf="fridayCloseFormControl.hasError('pattern')">Falsches Format</mat-error>
      </mat-form-field>
    </div>
    <div class="weekday saturday">
      <p>Samstag</p>
      <mat-form-field>
      <input matInput type="text" placeholder="Offen" maxlength="5" [formControl]="saturdayOpenFormControl" (input)="this.validateFormControl()">
      <mat-error *ngIf="saturdayOpenFormControl.hasError('pattern')">Falsches Format</mat-error>
      </mat-form-field>
      <mat-form-field>
      <input matInput type="text" placeholder="Geschlossen" maxlength="5" [formControl]="saturdayCloseFormControl" (input)="this.validateFormControl()">
      <mat-error *ngIf="saturdayCloseFormControl.hasError('pattern')">Falsches Format</mat-error>
      </mat-form-field>
    </div>
    <div class="weekday sunday">
      <p>Sonntag</p>
      <mat-form-field>
      <input matInput type="text" placeholder="Offen" maxlength="5" [formControl]="sundayOpenFormControl" (input)="this.validateFormControl()">
      <mat-error *ngIf="sundayOpenFormControl.hasError('pattern')">Falsches Format</mat-error>
      </mat-form-field>
      <mat-form-field>
      <input matInput type="text" placeholder="Geschlossen" maxlength="5" [formControl]="sundayCloseFormControl" (input)="this.validateFormControl()">
      <mat-error *ngIf="sundayCloseFormControl.hasError('pattern')">Falsches Format</mat-error>
      </mat-form-field>
    </div>
</div>


 </ng-container>
  <mat-tab-group id="second-mat-tab-group">
    <mat-tab label="Front-Bild">



  <div>Shop Bild Laden</div>


      <input #fileInputF
             style="display: none"
             type="file" accept='image/*' (change)="onFileChanged(fileInputF.files, $event, 'front')" #fileInputF>
      <button mat-button (click)="fileInputF.click()">Select File</button>
      <button mat-button (click)="onUpload('front')">Upload!</button>
      <button mat-button (click)="deleteImage('front')" class="button">Löschen</button>
      <br>
      <img [src]="adminService.frontImage" height="200" *ngIf="adminService.frontImage">




    </mat-tab>
    <mat-tab label="Gallerie">



      <div>Gallerie Laden</div>
      <input #fileInputG
             style="display: none"
             type="file" accept='image/*' (change)="onFileChanged(fileInputG.files, $event, 'gallery')" >
      <button mat-button (click)="fileInputG.click()">Select File</button>
      <button mat-button (click)="onUpload('gallery')">Upload!</button>
      <button mat-button (click)="deleteImage('gallery')" class="button">Löschen</button>
      <br>

<br>


      <mat-radio-group [(ngModel)]="adminService.galleryNumber">
        <div>Gewählte Bild: {{adminService.galleryNumber}}</div>
        <br>
      <mat-radio-button value="1">Bild 1</mat-radio-button>
      <mat-radio-button value="2">Bild 2</mat-radio-button>
      <mat-radio-button value="3">Bild 3</mat-radio-button>
      <mat-radio-button value="4">Bild 4</mat-radio-button>





      <mat-grid-list cols="2" rowHeight="2:1">

        <mat-grid-tile>
          1
          <br>
          <img [src]="adminService.gallery_1" height="200" *ngIf="adminService.gallery_1">
        </mat-grid-tile>

        <mat-grid-tile>
          2
          <br>
          <img [src]="adminService.gallery_2" height="200" *ngIf="adminService.gallery_2">

        </mat-grid-tile>



        <mat-grid-tile>
          3
          <br>
          <img [src]="adminService.gallery_3" height="200" *ngIf="adminService.gallery_3">
        </mat-grid-tile>

        <mat-grid-tile>
          4
          <br>
          <img [src]="adminService.gallery_4" height="200" *ngIf="adminService.gallery_4">
        </mat-grid-tile>

      </mat-grid-list>

      </mat-radio-group>







    </mat-tab>

         <mat-tab label="Preview">
           <input #fileInputP
                  style="display: none"
                  type="file" accept='image/*' (change)="onFileChanged(fileInputP.files, $event, 'preview')" >
           <button mat-button (click)="fileInputP.click()">Select File</button>
           <button mat-button (click)="onUpload('preview')">Upload!</button>
           <button mat-button (click)="deleteImage('preview')" class="button">Löschen</button>
           <img [src]="adminService.previewImage" height="200" *ngIf="adminService.previewImage">



         </mat-tab>
       </mat-tab-group>
