 <app-checkbox #checkbox class="checkbox"></app-checkbox>
  <mat-form-field class="shop-form-field address">
    <input id="streetName" matInput #address="matInput" type="text" placeholder="Straße" [formControl]="streetFormControl">
  </mat-form-field>
  <mat-form-field class="shop-form-field address">
    <input id="streetNr" matInput #address="matInput" type="number" placeholder="StraßeNr" min="0" oninput="this.value = Math.abs(this.value)" [formControl]="streetNrFormControl">
  </mat-form-field>
  <mat-form-field  class="shop-form-field address">
    <input id="country" matInput #address="matInput" type="text" placeholder="Land" [formControl]="countryFormControl">
  </mat-form-field>
 <mat-form-field  class="shop-form-field address">
   <input id="postalCode" matInput #address="matInput" type="number"min="0" oninput="this.value = Math.abs(this.value)" placeholder="Postleitzahl" [formControl]="postalCodeFormControl">
 </mat-form-field>
 <mat-form-field  class="shop-form-field address">
   <input id="town" matInput #address="matInput" type="text" placeholder="Stadt" [formControl]="townFormControl">
 </mat-form-field>
  <mat-form-field  class="description">
    <input id="name" matInput #inputs="matInput" type="text" required placeholder="Name" [formControl]="shopNameFormControl">
    <mat-error *ngIf="shopNameFormControl.hasError('required')">Es muss einen Namen angebgeben werden</mat-error>
  </mat-form-field>
  <mat-form-field class="description">
    <mat-label>Beschreibung</mat-label>
    <textarea
              matInput
              id="description"
              #inputs="matInput"
              [formControl]="shopDescriptionFormControl"
              maxlength="1000"
              cdkTextareaAutosize
              cdkAutosizeMinRows="2"
    ></textarea>
  </mat-form-field>
 <mat-form-field  class="description">
   <input id="website" matInput #inputs="matInput" type="url" placeholder="Website" [formControl]="shopWebsiteFormControl">
 </mat-form-field>

 <mat-form-field  class="description">
   <input id="foundingYear" matInput #inputs="matInput" type="number" placeholder="Gründungs Jahr" min="2" oninput="this.value = Math.abs(this.value)" [formControl]="shopFoundingYearFormControl">
   <mat-hint>Gründung mindesten ab 1700er</mat-hint>
 </mat-form-field>
  <mat-tab-group id="second-mat-tab-group">
    <mat-tab label="Front-Bild">




  <div>Shop Bild Laden</div>
      <input
        style="display: none"
        type="file" (change)="onFileChanged($event)"
        #fileInput>
      <button mat-button (click)="fileInput.click()">Select File</button>
      <button mat-button (click)="onUpload('front')">Upload!</button>
      <button mat-button (click)="deleteImage('front')" class="button">Löschen</button>

      <br>
      <img  [src]="admin_service.frontImage" height="100px">



    </mat-tab>
    <mat-tab label="Gallerie">



      <div>Gallerie Laden</div>
      <input
        style="display: none"
        type="file" (change)="onFileChanged($event)"
        accept="image/png, image/jpeg"
         #fileInput>
      <button mat-button (click)="fileInput.click()">Gallery Bild</button>
      <button mat-button (click)="onUpload('gallery')">Upload!</button>
      <button mat-button (click)="deleteImage('gallery')" class="button">Löschen</button>

<br>


      <mat-radio-group [(ngModel)]="admin_service.galleryNumber">
        <div>Gewählte Bild: {{admin_service.galleryNumber}}</div>
        <br>
      <mat-radio-button value="1">Bild 1</mat-radio-button>
      <mat-radio-button value="2">Bild 2</mat-radio-button>
      <mat-radio-button value="3">Bild 3</mat-radio-button>
      <mat-radio-button value="4">Bild 4</mat-radio-button>





      <mat-grid-list cols="2" rowHeight="2:1">

        <mat-grid-tile>
          1
          <br>
          <img  [src]="admin_service.gallery_1" >
        </mat-grid-tile>

        <mat-grid-tile>
          2
          <br>
          <img  [src]="admin_service.gallery_2" >

        </mat-grid-tile>



        <mat-grid-tile>
          3
          <br>
          <img  [src]="admin_service.gallery_3" >
        </mat-grid-tile>

        <mat-grid-tile>
          4
          <br>
          <img  [src]="admin_service.gallery_4" >
        </mat-grid-tile>

      </mat-grid-list>

      </mat-radio-group>







    </mat-tab>

         <mat-tab label="Preview">
           <input
             style="display: none"
             type="file" (change)="onFileChanged($event)"
             #fileInput>
           <button mat-button (click)="fileInput.click()">Select File</button>
           <button mat-button (click)="onUpload('preview')">Upload!</button>
           <button mat-button (click)="deleteImage('preview')" class="button">Löschen</button>
           <br>
           <img  [src]="admin_service.previewImage" height="20%">



         </mat-tab>
       </mat-tab-group>

