app-shop-list button.nav-item.link-active{
  color: white;
  background:black;
}
#shop-list{
  list-style: none;
}

#shop-list li{
  margin-top: 10px;
  margin-bottom: 70px;
}

.preview-img{
  float: left;
  position: relative;
  width: fit-content;
}

.shop_name{
  display: inline-block;
  clear: both;
  height: fit-content;
  cursor: pointer;
}

.shop_name_underline{
  padding: 0;
  margin-top: 0;
  border-top: solid #87cdf1;
}

.preview-content{
  display: inline-block;
  position: relative;
  clear: both;
  margin-left: 20px;
  width: 80%;
}

app-shop-list div.text{
  color: black;
  font-size: 15px;
  padding: 5px 0 0 5px;
  position: relative;
  width: 100%;
  text-align: left;
  bottom: 0;

}

.list-content{
  clear: both;
}
