<div class="container" *ngIf="this.service.shops.length != 0; else noShops">
  <mat-list id="shop-list">
  <mat-list-item *ngFor="let shop of this.service.shops; last as last">
    <a [routerLink]="['/shops', shop.id]" [routerLinkActive]='["link-active"]'>
      <img src="https://dummyimage.com/100x100/fff/000" class="preview-img">
    </a>
      <div class="preview-content">
      <h6 class="shop_name"  [routerLink]="['/shops', shop.id]">{{shop.name}}
        <hr class="shop_name_underline">
      </h6>
      {{" " + shop.address.streetName + " " + shop.address.streetNumber}}
      <br>
      Gesamtbewertung: {{(shop.averageTotalRating | number) || 'n/a' }}
      <div class="text">
          {{shop.description | words : 50}}
      </div><div class='read_more'> weiterlesen </div>
      </div>
  <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
  </mat-list-item>
  </mat-list>
</div>
<ng-template #noShops>
  Es gibt kein Laden, welches die gewählte Kriterien erfüllen. :(
</ng-template>
