<div class="container">
  <ul id="shop-list">
  <li *ngFor="let shop of shops">
    <div class="list-content">
    <a [routerLink]="['/shop',shop.name]" [routerLinkActive]='["link-active"]'>
      <img src="https://dummyimage.com/100x100/fff/000" class="preview-img">
    </a>
      <div class="preview-content">
      <h6 class="shop_name" [routerLink]="['/shop', shop.name + shop.Description]">{{shop.name}}
        <hr class="shop_name_underline">
      </h6>
      <div class="text">
          {{shop.Description}}
      </div>
      </div>
    </div>
  </li>
  </ul>
</div>
