app-about-us{
  width: 100%;
}
app-about-us div.container{
  display: flex;
}

app-about-us div.presentaion{
  flex: 1;
}

app-about-us div.pics{
  flex: 1;
}

app-about-us .brand{
  display: inline-block;
  width: 100px;
  height: 100px;
}
