@media (max-width: 767px) {
  /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
  .body-content {
    padding-top: 50px;
  }
}
div.container{
  alignment: center;
  border: black solid 0.5px;
}


/* Scrollable content */
@media (min-width: 1200px) {
  .container {
    flex: 1;
    max-height:600px;
    max-width: 75%;
    overflow-y: auto;
    margin-top: 3%;
  }

}

body {
  padding: 40px 40px 0 40px;
  background-color: ghostwhite;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}


