app-search div.container{
  display: grid;
  alignment: center;
  max-width: 75%;
  margin-top: 10px;
  padding: 0 0 0 10px;
}

app-search div.grid{
  background-color: ghostwhite;
  display: grid;
  grid-template-rows: 1fr 0.1fr;
  grid-template-columns: 0.5fr 1fr 1fr 1fr 1fr;
}

app-search .btn.search,
app-search .btn.quick-search,
app-search .btn.clear{
  grid-column: 1;
  background-color: white;
  outline: none;
  list-style-position:inside;
  border: 0;
  box-shadow: none;
  border-radius: 0;
  width: 100px;
}

app-search app-checkbox
{
  grid-row: 1 / span 2;
  grid-column: 2 / 5 span;
}

app-search .router-link-active{
  background-color: red;
}

app-search .mat-tab-group{
  grid-row: 1 / 2;
  grid-column: 2/ 5 span;
}
