<div class="container">
  <div class="grid">
    <button mat-button class="btn search" (click)="navigateToShop()">
      Suche
    </button>
    <button mat-button class="btn clear" (click)="clearCheckBoxes()">
      Leeren
    </button>
    <app-checkbox (callNavigateToShop)="navigateToShop()" #cb *ngIf="urlPath == urlGlobalPath.get('shop')"></app-checkbox>
    <mat-tab-group *ngIf="urlPath == urlGlobalPath.get('supplies') || urlPath == urlGlobalPath.get('suppliesEq') || urlPath == urlGlobalPath.get('wiki') ||  urlPath == urlGlobalPath.get('suppliesIng')" >
      <mat-tab label="Equipment"><app-checkbox-equipment #cbeq  (callNavigateToEquipment)="navigateToEquipmentCoffeeWiki()"></app-checkbox-equipment> </mat-tab>
      <mat-tab label="Bohnen"><app-checkbox-coffee  #cbcof (callNavigateToCoffee)="navigateToEquipmentCoffeeWiki()"></app-checkbox-coffee></mat-tab>
      <mat-tab label="Blends"> Content 3 </mat-tab>
    </mat-tab-group>
  </div>
</div>
