div.container{
  display: grid;
  alignment: center;
  max-width: 75%;
  margin-top: 10px;
  padding: 0 0 0 10px;
}

div.grid{
  background-color: gray;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: 0.5fr 1fr 1fr 1fr 1fr;
}

.btn.search,
.btn.quick-search,
.btn.clear{
  grid-column: 1;
  background-color: white;
  outline: none;
  list-style-position:inside;
  border: 0;
  box-shadow: none;
  border-radius: 0;
  width: 100px;
}

app-checkbox,
app-checkbox-equipment,
app-checkbox-coffee{
  grid-row: 1 / span 3;
  grid-column: 2 / 5 span;
}


