.registerForm{
  width: 100%;
}
.container {
  width: 500px;
  clear: both;
  display: grid;
}

.container input {
  width: 100%;
  clear: both;
}

.form-group{
  display: inline-grid;
}

.star{
  color:red;
  font-size: 5px;
  vertical-align: text-top;
}

#register-underline{
  padding: 0;
  margin-top: -0.8%;
  border-top: solid #87cdf1;
}
#h1register{
  display: inline-block;
}

.btn{
  width: 100%;
  margin-top:20px;
}
