<header>
  <a class="navbar-brand" [routerLink]='["/"]'><img src="https://dummyimage.com/100x50/fff/000"> </a>
  <nav class='navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3'>
    <div class="container">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-label="Toggle navigation"
              [attr.aria-expanded]="isExpanded" (click)="toggle()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse" [ngClass]='{"show": isExpanded}'>
        <ul class="navbar-nav flex-grow">
          <li class="nav-item" [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
            <button mat-button class="nav-link" [routerLink]='["/shop"]'>Shops</button>
          </li>
          <li class="nav-item" [routerLinkActive]='["link-active"]'>
            <button mat-button class="nav-link" [routerLink]='["/registration"]'>Kaffee</button>
          </li>
          <li class="nav-item" [routerLinkActive]='["link-active"]'>
            <button mat-button class="nav-link" [routerLink]='["/article"]'>Equipment</button>
          </li>
          <li class="nav-item" [routerLinkActive]='["link-active"]'>
            <button mat-button class="nav-link" [routerLink]='["/admin"]'>Events</button>
          </li>
          <li class="nav-item">
            <button mat-button class="nav-link">Über uns</button>
          </li>
        </ul>
      </div>
      <div *ngIf="currentWindowWidth >= 768">
      <div id="login-dropdown">
      <span (click)="dropdown()"> Login </span>
      <div id="login-dropdown-content">
        <form class="login-registration-form">
          <div class="form-group">
            <input type="text" class="form-control" id="email" required>
            <label for="email">Email</label>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" id="passwort" required>
            <label for="passwort">Passwort</label>
          </div>
          <button mat-button id="btn-login-logout" [routerLink]='["/user"]' class="nav-btn-login">
            Login
          </button>
          <button mat-button id="btn-register" class="nav-btn-login" [routerLink]='["/registration"]'>Registierung</button>
        </form>
      </div>
      </div>
    </div>
    </div>
  </nav>
</header>
