<header>
  <nav class='navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3'>
    <div class="container">
<!--      <a class="navbar-brand" [routerLink]='["/"]'></a>-->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-label="Toggle navigation"
              [attr.aria-expanded]="isExpanded" (click)="toggle()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse" [ngClass]='{"show": isExpanded}'>
        <ul class="navbar-nav flex-grow">
          <li class="nav-item" [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
            <a class="nav-link" [routerLink]='["/shop"]'>Shops</a>
          </li>
          <li class="nav-item" [routerLinkActive]='["link-active"]'>
            <a class="nav-link" [routerLink]='["/registration"]'>Kaffee</a>
          </li>
          <li class="nav-item" [routerLinkActive]='["link-active"]'>
            <a class="nav-link" [routerLink]='["/fetch-data"]'>Equipment</a>
          </li>
          <li class="nav-item" [routerLinkActive]='["link-active"]'>
            <a class="nav-link" [routerLink]='["/events"]'>Events</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">Über uns</a>
          </li>
        </ul>
      </div>
      <div id="login-dropdown">
      <span (click)="dropdown()"> Login </span>
      <div id="login-dropdown-content">
        <form>
          <div class="form-group">
            <input type="text" class="form-control" id="email" required>
            <label for="email">Email</label>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" id="passwort" required>
            <label for="passwort">Passwort</label>
          </div>
          <button id="btn-login-logout" class="nav-btn-login">
            Login
          </button>
          <button id="btn-register" class="nav-btn-login" [routerLink]='["/registration"]'>Registierung</button>
        </form>
      </div>
      </div>
    </div>
  </nav>
</header>
