<div *ngIf="shop$">
  <h2 id="shop_name">{{shop$.name}}
    <hr id="shop_name_underline">
  </h2>
  <div class="grid-container">
    <mat-grid-list cols="3" rowHeight="100px" [gutterSize]="'30px'">
      <mat-grid-tile id="opening_times">
        <h6>Öffnungszeiten:</h6>
        <ul *ngFor="let weekday of shop$.openingTimes">
          <li class="weeks">{{weekday.weekday.match('monday') ? 'Montag' : ''}}
            {{weekday.weekday.match('tuesday') ? 'Dienstag' : ''}}
            {{weekday.weekday.match('wednesday') ? 'Mittwoch' : ''}}
            {{weekday.weekday.match('thursday') ? 'Donnerstag' : ''}}
            {{weekday.weekday.match('friday') ? 'Freitag' : ''}}
            {{weekday.weekday.match('saturday') ? 'Samstag' : ''}}
            {{weekday.weekday.match('sunday') ? 'Sonntag' : ''}}
            <br>
            {{weekday.open.slice(0,5)}}-{{weekday.close.slice(0,5)}}
          </li>
        </ul>
      </mat-grid-tile>
      <mat-grid-tile id="location">
        <h6>Adresse:</h6>
        <ul>
          <li>{{shop$.address.streetName + ' ' + shop$.address.streetNumber}}</li>
          <li>{{shop$.address.postalCode + ' ' + shop$.address.town }}</li>
          <li>{{shop$.address.country}}</li>
        </ul>
      </mat-grid-tile>
      <mat-grid-tile id="price">
        <h6>Preis:</h6>
        <p [matTooltip]="priceDescription">{{priceClass}}</p>
      </mat-grid-tile>
      <mat-grid-tile id="events">
        <h6>Rating:</h6>
        <ul>
          <li>Gesamtwertung: {{shop$.averageTotalRating}}</li>
          <li>Stuff</li>
          <li>Stuff</li>
        </ul>
      </mat-grid-tile>
      <mat-grid-tile>
        <div id="symbols">
          <h6>Feature:</h6>
          <div class="symbol" *ngIf="shop$.wlan" [matTooltipPosition]="position" [matTooltip]="symbolWlan"><i class="fas fa-wifi  fa-lg"></i></div>
          <div class="symbol" *ngIf="shop$.childFriendly" [matTooltipPosition]="position" [matTooltip]="symbolChildFriendly"><i class="fas fa-baby  fa-lg"></i></div>
          <div class="symbol" *ngIf="shop$.disabledFriendly" [matTooltipPosition]="position" [matTooltip]="symbolDisabledFriendly"><i class="fas fa-wheelchair  fa-lg"></i></div>
          <div class="symbol" *ngIf="shop$.outdoor" [matTooltipPosition]="position" [matTooltip]="symbolOutdoor"><i class="fas fa-sun  fa-lg"></i></div>
          <div class="symbol" *ngIf="shop$.latteArt" [matTooltipPosition]="position" [matTooltip]="symbolLatteArt"><i class="fas fa-paint-brush fa-lg"></i></div>
          <div class="symbol" *ngIf="shop$.petsFriendly" [matTooltipPosition]="position" [matTooltip]="symbolPetsFriendly"><i class="fas fa-paw  fa-lg"></i></div>
          <div class="symbol" *ngIf="shop$.workstation" [matTooltipPosition]="position" [matTooltip]="symbolWorkStation"><i class="fas fa-desktop  fa-lg"></i></div>
          <div class="symbol" *ngIf="shop$.coldFood" [matTooltipPosition]="position" [matTooltip]="symbolColdFood"><i class="far fa-snowflake fa-lg"></i></div>
          <div class="symbol" *ngIf="shop$.warmFood" [matTooltipPosition]="position" [matTooltip]="symbolWarmFood"><i class="fas fa-fire fa-lg"></i></div>
          <div class="symbol" *ngIf="shop$.franchise" [matTooltipPosition]="position" [matTooltip]="symbolFranchise"><i class="fas fa-store-alt fa-lg"></i></div>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div id="link_to_shop">Website:</div>
        <a href="http://wikipedia.de">{{shop$.website | truncate : 10}}</a>
      </mat-grid-tile>
    </mat-grid-list>
    <mat-tab-group>
      <mat-tab label="Beschreibung">
        <h6>{{shop$.name + ' Gründung: ' + shop$.foundingYear}}</h6>
        <div>
          {{shop$.description}}
        </div>
      </mat-tab>
      <mat-tab label="Kaffee Getränke" *ngIf="shop$.coffeeDrinks.length != 0">
      <mat-list>
        <mat-list-item *ngFor="let coffee of shop$.coffeeDrinks; last as last ">
          Name: {{coffee.name}}
          <br>
          Beschreibung: {{coffee.description}}
        <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
        </mat-list-item>
      </mat-list>
      </mat-tab>
      <mat-tab label="Events" *ngIf="shop$.events.length != 0">
      <mat-list>
        <mat-list-item *ngFor="let event of shop$.events; last as last">
          <img src="/assets/Images/event.jpg" height="100" />
          <div>
            <h6>{{event.name}}</h6>
            <br>
            {{event.description}}<br>
          Eintrittsgebühr: {{event.accessFee > 0 ? (event.accessFee | number) : 'kostenlos'}} {{event.accessFee > 0 ? ' €' : ''}}
            <br>
          Begin: {{event.startTime | date}} Ende: {{event.endTime | date}}
          </div>

        <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
        </mat-list-item>
      </mat-list>
      </mat-tab>
      <mat-tab label="Landmarken" *ngIf="shop$.listOfPoi.length != 0">
      <mat-list>
        <mat-list-item *ngFor="let poi of shop$.listOfPoi; last as last">
          <img src="/assets/Images/poi.jpg" width="100" />
          <div class="container-poi">
          <div class="poi-description">
            <h6>{{poi.name}}</h6>
          {{poi.address.streetName + " " + poi.address.streetNumber}}
          <br>
          {{poi.address.postalCode + " " + poi.address.town}}
          {{poi.description}}
          </div>
          </div>
        <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
        </mat-list-item>
      </mat-list>
      </mat-tab>
      <mat-tab label="Equipment" *ngIf="shop$.equipmentCategories.length != 0">
      <mat-list>
        <mat-list-item *ngFor="let equipment of shop$.equipmentCategories">
          {{equipment.name}}
        </mat-list-item>
      </mat-list>
      </mat-tab>
    </mat-tab-group>
    <div class="slideshow-container">
      <div class="mySlides first">
        <img src="/assets/Images/coffeeshop2.jpg" style="width:100%">
      </div>
      <div class="mySlides">
        <img src="/assets/Images/coffeeshop2.jpg" style="width:100%">
      </div>
      <div class="mySlides">
        <img src="/assets/Images/coffeeshop2.jpg" style="width:100%">
      </div>
      <div class="dots">
        <span class="dot" (click)="currentSlide(1)"></span>
        <span class="dot" (click)="currentSlide(2)"></span>
        <span class="dot" (click)="currentSlide(3)"></span>
      </div>
      <br>
      <a class="prev" (click)="plusSlides(-1)">&#10094;</a>
      <a class="next" (click)="plusSlides(1)">&#10095;</a>
    </div>
  </div>
</div>
