<div class="search-field">
  <div>
    <mat-form-field class="direct-shop">
      <input id="name" type="text" placeholder="Name" aria-label="Number" matInput [formControl]="shopNameFormControl" (keydown.enter)="this.navigateTo()" [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
          {{option}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <mat-form-field class="poi">
      <mat-label>Landmarken</mat-label>
      <mat-select id="poi" multiple>
        <mat-option *ngFor="let poi of checkBoxPois" [value]="poi.name">
          {{poi.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="price-range">
      <mat-label>Preis Klasse</mat-label>
      <mat-select id="priceClass">
        <mat-option>--</mat-option>
        <mat-option *ngFor="let price of priceClass" [value]="price">
          {{price}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Bus Station</mat-label>
      <mat-select id="busStation">
        <mat-option>--</mat-option>
        <mat-option *ngFor="let busStation of checkBoxBusStation" [value]="busStation.name">
          {{busStation.name + ' ' + busStation.line}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-checkbox #cb class="checkbox" id="wlan" [checked]="false">Wlan</mat-checkbox>
    <mat-checkbox #cb class="checkbox" id="latteArt" [checked]="false">Latte Art</mat-checkbox>
    <mat-checkbox #cb class="checkbox" id="outdoor" [checked]="false">Outdoor</mat-checkbox>
    <mat-checkbox #cb class="checkbox" id="childFriendly"[checked]="false">Kinderfreundlich</mat-checkbox>
    <mat-checkbox #cb class="checkbox" id="workstation"[checked]="false">Workstation</mat-checkbox>
    <mat-checkbox #cb class="checkbox" id="disableFriendly" [checked]="false">Behindertengerecht</mat-checkbox>
    <mat-checkbox #cb class="checkbox" id="petFriendly" [checked]="false">Haustierfreundlich</mat-checkbox>
    <mat-checkbox #cb class="checkbox" id="warmFood" [checked]="false">Warmes Essen</mat-checkbox>
    <mat-checkbox #cb class="checkbox" id="coldFood" [checked]="false">Kaltes Essen</mat-checkbox>
    <mat-checkbox #cb class="checkbox" id="franchise" [checked]="false">Kette</mat-checkbox>
    <mat-checkbox #cb class="checkbox" id="open" [checked]="false">Offen</mat-checkbox>
  </div>
</div>
