<div class="container">
  <div>
    <mat-form-field class="selectedContentCoffee">
      <input matInput type="text" [formControl]="beanNameFormControl" id='name' placeholder="Kaffee Bohnen" (keydown.enter)="triggerSearchCoffee()">
    </mat-form-field>
    <mat-form-field class="selectedContentCoffee">
      <input matInput type="text" [formControl]="blendNameFormControl" id='name' placeholder="Blends" (keydown.enter)="triggerSearchCoffee()">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Röstung Bohnen</mat-label>
      <mat-select [(ngModel)]="selectedRoast">
        <mat-option *ngFor="let roast of roasts" [value]="roast.value">
          {{roast.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="selectedContentCoffee">
      <mat-label>Mahlgrad Bohnen</mat-label>
      <mat-select [(ngModel)]="selectedGrind">
        <mat-option *ngFor="let grind of grinds" [value]="grind.value">
          {{grind.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div  *ngIf="router.url == '/admin'">
    <button mat-button id="clearbutton" (click)="clear()">Alles aufheben</button>
  </div>
</div>
