<div class="content">
  <form>
  <mat-form-field class="name-form-field">
    <input matInput id="name" #myNameDescription="matInput" type="text" placeholder="Name" required [formControl]="eventNameFormControl">
    <mat-error *ngIf="eventNameFormControl.hasError('required')">Es müsst einen Namen für den Event angegeben werden.</mat-error>
    <button mat-button *ngIf="!eventNameFormControl.hasError('required')" matSuffix mat-icon-button aria-label="Clear" (click)="eventNameFormControl.reset('')">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <mat-form-field class="description">
    <mat-label>Beschreibung</mat-label>
    <textarea [formControl]="eventDescriptionFormControl"
              matInput
              id="description"
              #myNameDescription="matInput"
              cdkTextareaAutosize
              cdkAutosizeMinRows="2"
              [value]="eventDescriptionFormControl.value"
    ></textarea>
  </mat-form-field>

  <mat-form-field class="date-picker">
    <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="startTime" required placeholder="Wähle ein Anfangdatum aus" [formControl]="beginDatePickerFormControl">
    <mat-error *ngIf="beginDatePickerFormControl.hasError('required')">Es müsst ein Anfangdatum ausgewählt werden.</mat-error>
    <mat-datepicker-toggle id="cool" matSuffix [for]="startTime"></mat-datepicker-toggle>
    <mat-datepicker id="startTime" #startTime></mat-datepicker>
  </mat-form-field>

  <mat-form-field class="date-picker">
    <input matInput [min]="beginDatePickerFormControl.value" [max]="maxDate" [matDatepicker]="endTime" required placeholder="Wähle ein Enddatum aus" [formControl]="endDatePickerFormControl">
    <mat-error *ngIf="endDatePickerFormControl.hasError('required')">Es müsst ein Enddatum ausgewählt werden.</mat-error>
    <mat-error *ngIf="beginEndDateFormGroup.get('endTime').hasError('unMatch')">Enddatum darf nicht vor Anfangdatum sein.</mat-error>
    <mat-datepicker-toggle matSuffix [for]="endTime"></mat-datepicker-toggle>
    <mat-datepicker id="endTime" #endTime></mat-datepicker>
  </mat-form-field>

  <mat-form-field>
    <input matInput id="accessFee" #myNameDescription="matInput" type="number" placeholder="Eintrittskosten:" [formControl]="accessFeeFormControl">
  </mat-form-field>
  <mat-form-field class="multipleSelect">
    <mat-label>Wähle die beteiligten Läden</mat-label>
     <mat-select multiple id="coffeeShop" [formControl]="selectShopFormControl" required [compareWith]="this.compareService.compareShop">
       <mat-option *ngFor="let shop of shops" [value]="shop.id">
       {{shop.name}}
       </mat-option>
     </mat-select>
    <mat-error *ngIf="selectShopFormControl.hasError('required')">Mindesten ein Shop muss an einem Event beteiligt sein</mat-error>
  </mat-form-field>
    <mat-form-field class="address">
      <input id="streetName" matInput type="text" #address="matInput" placeholder="Straße" [formControl]="locationStreetFormControl">
    </mat-form-field>
    <mat-form-field class="address">
      <input id="streetNr" matInput type="number" #address="matInput" placeholder="StraßeNr" min="0" oninput="this.value = Math.abs(this.value)" [formControl]="locationStreetNrFormControl">
    </mat-form-field>
    <mat-form-field class="address">
      <input id="town" matInput type="text" #address="matInput" placeholder="Stadt" [formControl]="locationTownFormControl">
    </mat-form-field>
    <mat-form-field class="address">
      <input id="postalCode" matInput #address="matInput" type="number" placeholder="Postleitzahl" min="0" oninput="this.value = Math.abs(this.value)" [formControl]="locationPostalCodeFormControl">
    </mat-form-field>
    <mat-form-field  class="shop-form-field address">
      <input id="country" matInput #address="matInput" type="text" placeholder="Land" [formControl]="locationCountryFormControl">
    </mat-form-field>
    <br>


      <input  #fileInputE
        style="display: none"
        type="file" accept='image/*' (change)="onFileChanged(fileInputE.files, $event)">
      <button mat-button (click)="fileInputE.click()">Select File</button>
      <button mat-button (click)="onUpload('event')">Upload!</button>
      <button mat-button (click)="deleteImage('event')" class="button">Löschen</button>
      <br>
      <img [src]="adminService.eventImage" height="200" *ngIf="adminService.eventImage">





  </form>


</div>
