<mat-form-field>
  <mat-label>Wähle einen Content</mat-label>
  <mat-select [(value)]="selected" required [formControl]="selectContentFormControl">
    <mat-option *ngFor="let con of content" [value]="con.value">
      {{con.viewValue}}
    </mat-option>
  </mat-select>
</mat-form-field>
<div class="content blend" *ngIf="selected == 'Blend'">
<mat-form-field class="name-form-field">
  <input matInput type="text" placeholder="Name" required [formControl]='nameBlendFormControl'>
  <mat-error *ngIf="nameBlendFormControl.hasError('required')">Es müss einen Namen angegeben werden</mat-error>
  <button mat-button *ngIf="!nameBlendFormControl.hasError('required')" matSuffix mat-icon-button aria-label="Clear" (click)="nameBlendFormControl.reset('')">
    <mat-icon>close</mat-icon>
  </button>
</mat-form-field>
<mat-form-field class="description">
  <mat-label>Beschreibung</mat-label>
  <textarea
            [formControl]="descriptionBlendFormControl"
            matInput
            minlength="20"
            maxlength="500"
            cdkTextareaAutosize
            cdkAutosizeMinRows="2"
            [value]="descriptionBlendFormControl.value"
  ></textarea>
</mat-form-field>
  <mat-form-field>
    <mat-label>Wähle die Mischung</mat-label>
    <mat-select multiple #multipleSelectBlend [formControl]="selectBlendFormControl">
      <mat-option *ngFor="let food of foods" [value]="food.value">
        {{ food.viewValue }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div class="content bean" *ngIf="selected == 'Bean'">
  <mat-form-field class="name-form-field">
    <input matInput type="text" placeholder="Name"  required [formControl]="nameBeanFormControl">
    <mat-error *ngIf="nameBeanFormControl.hasError('required')">Es müss einen Namen angegeben werden</mat-error>
    <button mat-button *ngIf="!nameBeanFormControl.hasError('required')" matSuffix mat-icon-button aria-label="Clear" (click)="nameBeanFormControl.reset('')">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <mat-form-field class="description">
    <mat-label>Beschreibung</mat-label>
    <textarea
              [formControl]="descriptionBeanFormControl"
              matInput
              minlength="20"
              maxlength="500"
              cdkTextareaAutosize
              cdkAutosizeMinRows="2"
              [value]=""
    ></textarea>
  </mat-form-field>
</div>
<div class="content equipment" *ngIf="selected == 'Equipment'">
  <mat-form-field class="name-form-field">
    <input matInput type="text" placeholder="Name"  required [formControl]="nameEquipmentFormControl">
    <mat-error *ngIf="nameEquipmentFormControl.hasError('required')">Es müss einen Namen angegeben werden</mat-error>
    <button mat-button *ngIf="!nameEquipmentFormControl.hasError('required')" matSuffix mat-icon-button aria-label="Clear" (click)="nameEquipmentFormControl.reset('')">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <mat-form-field class="description">
    <mat-label>Beschreibung</mat-label>
    <textarea
              [formControl]="descriptionEquipmentFormControl"
              matInput
              cdkTextareaAutosize
              cdkAutosizeMinRows="2"
              [value]=""
    ></textarea>
  </mat-form-field>
</div>
<div class="content coffee_drink" *ngIf="selected == 'CoffeeDrink'">
  <mat-form-field class="name-form-field">
    <input matInput type="text" placeholder="Name"  required [formControl]="nameCoffeeDrinkFormControl">
    <mat-error *ngIf="nameCoffeeDrinkFormControl.hasError('required')">Es müss einen Namen angegeben werden</mat-error>
    <button mat-button *ngIf="!nameCoffeeDrinkFormControl.hasError('required')" matSuffix mat-icon-button aria-label="Clear" (click)="nameCoffeeDrinkFormControl.reset('')">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <mat-form-field class="description">
    <mat-label>Beschreibung</mat-label>
    <textarea
              [formControl]="descriptionCoffeeDrinkFormControl"
              matInput
              cdkTextareaAutosize
              cdkAutosizeMinRows="2"
              [value]=""
    ></textarea>
  </mat-form-field>
</div>
<div class="content manufacturer" *ngIf="selected == 'Manufacturer'">
  <mat-form-field class="name-form-field">
    <input matInput type="text" placeholder="Name"  required [formControl]="nameManufacturerFormControl">
    <mat-error *ngIf="nameManufacturerFormControl.hasError('required')">Es müss einen Namen angegeben werden</mat-error>
    <button mat-button *ngIf="!nameManufacturerFormControl.hasError('required')" matSuffix mat-icon-button aria-label="Clear" (click)="nameManufacturerFormControl.reset('')">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
</div>
<div class="content equipment-category" *ngIf="selected == 'Equipment-category'">
  <mat-form-field class="name-form-field">
    <input matInput type="text" placeholder="Name"  required [formControl]="nameManufacturerFormControl">
    <mat-error *ngIf="nameManufacturerFormControl.hasError('required')">Es müss einen Namen angegeben werden</mat-error>
    <button mat-button *ngIf="!nameManufacturerFormControl.hasError('required')" matSuffix mat-icon-button aria-label="Clear" (click)="nameManufacturerFormControl.reset('')">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
</div>
<button mat-button (click)="text()">Test</button>
<button mat-button (click)="clear()">Leeren</button>
