<mat-form-field>
  <mat-label>Wähle einen Content</mat-label>
  <mat-select required [formControl]="selectContentFormControl">
    <mat-option *ngFor="let con of content" [value]="con.value">
      {{con.viewValue}}
    </mat-option>
  </mat-select>
</mat-form-field>
<div class="content blend" *ngIf="selectContentFormControl.value == 'Blend'">
<mat-form-field class="name-form-field">
  <input matInput type="text" placeholder="Name" required [formControl]='blendNameFormControl'>
  <mat-error *ngIf="blendNameFormControl.hasError('required')">Es müss einen Namen angegeben werden</mat-error>
</mat-form-field>
<mat-form-field>
  <input matInput type="text" placeholder="Herkunft" required [formControl]='blendProvenanceFormControl'>
  <mat-error *ngIf="blendNameFormControl.hasError('required')">Es müss eine Herkunft angegeben werden</mat-error>
</mat-form-field>
  <mat-form-field class="selectedContentCoffee">
    <mat-label>Röstung Bohnen</mat-label>
    <mat-select [formControl]="blendRoastFormControl">
      <mat-option *ngFor="let roast of roasts" [value]="roast.value">
        {{roast.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="selectedContentCoffee">
    <mat-label>Mahlgrad Bohnen</mat-label>
    <mat-select [formControl]="blendGrindFormControl">
      <mat-option *ngFor="let grind of grinds" [value]="grind.value">
        {{grind.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Wähle eine Mischung</mat-label>
    <mat-select multiple #multipleSelectBlend required [formControl]="selectBlendBeanFormControl" [compareWith]="this.compareService.compareBean">
      <mat-option *ngFor="let beans of avaibleBeans" [value]="beans">
        {{beans.name}}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="selectBlendBeanFormControl.hasError('required')">Es würde nichts ausgewählt</mat-error>
    <mat-error *ngIf="selectBlendBeanFormControl.hasError('beans')">Es müssen mindesten zwei ausgewählt sein.</mat-error>
  </mat-form-field>
</div>

<div class="content bean" *ngIf="selectContentFormControl.value  == 'Bean'">
  <mat-form-field class="name-form-field">
    <input matInput type="text" placeholder="Name"  required [formControl]="beanNameFormControl">
    <mat-error *ngIf="beanNameFormControl.hasError('required')">Es müss einen Namen angegeben werden</mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput type="text"  required placeholder="Herkunft" [formControl]="beanProvenanceFormControl">
    <mat-error *ngIf="!beanProvenanceFormControl.hasError('required')"> </mat-error>
  </mat-form-field>
  <mat-form-field class="selectedContentCoffee">
    <mat-label>Röstung Bohnen</mat-label>
    <mat-select [formControl]="beanRoastFormControl">
      <mat-option *ngFor="let roast of roasts" [value]="roast.value">
        {{roast.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="selectedContentCoffee">
    <mat-label>Mahlgrad Bohnen</mat-label>
    <mat-select [formControl]="beanGrindFormControl">
      <mat-option *ngFor="let grind of grinds" [value]="grind.value">
        {{grind.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>


<div class="content bus-station" *ngIf="selectContentFormControl.value  == 'BusStation'">
  <mat-form-field class="name-form-field">
    <input matInput type="text" placeholder="Bus Haltestelle"  required [formControl]="busStationNameFormControl">
    <mat-error *ngIf="busStationNameFormControl.hasError('required')">Es müss einen Namen angegeben werden</mat-error>
    <button mat-button *ngIf="!busStationNameFormControl.hasError('required')" matSuffix mat-icon-button aria-label="Clear" (click)="equipmentNameFormControl.reset('')">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <mat-form-field class="name-form-field">
    <input matInput type="text" placeholder="Linie"  required [formControl]="busStationLineFormControl">
    <mat-error *ngIf="busStationLineFormControl.hasError('required')">Es müss eine Buslinie angegeben werden</mat-error>
  </mat-form-field>
</div>

<div class="content poi" *ngIf="selectContentFormControl.value  == 'Poi'">
  <mat-form-field class="name-form-field">
    <input matInput type="text" placeholder="Name" required [formControl]="poiNameFormControl">
    <mat-error *ngIf="poiNameFormControl.hasError('required')">Es müss einen Namen angegeben werden</mat-error>
  </mat-form-field>
  <mat-form-field class="shop-form-field address">
    <input id="streetName" matInput #address="matInput" required type="text" placeholder="Straße" [formControl]="streetFormControl">
  </mat-form-field>
  <mat-form-field class="shop-form-field address">
    <input id="streetNr" matInput #address="matInput" required type="text" placeholder="StraßeNr" [formControl]="streetNrFormControl" (input)="validateFormControl()">
    <mat-error *ngIf="streetNrFormControl.hasError('pattern')">Nur Zahlen</mat-error>
  </mat-form-field>
  <mat-form-field  class="shop-form-field address">
    <input id="country" matInput #address="matInput" required type="text" placeholder="Land" [formControl]="countryFormControl">
  </mat-form-field>
  <mat-form-field  class="shop-form-field address">
    <input id="postalCode" matInput #address="matInput" required type="text" placeholder="Postleitzahl" [formControl]="postalCodeFormControl" (input)="validateFormControl()">
    <mat-error *ngIf="postalCodeFormControl.hasError('pattern')">Nur Zahlen und mind. 2</mat-error>
  </mat-form-field>
  <mat-form-field  class="shop-form-field address">
    <input id="town" matInput #address="matInput" required type="text" placeholder="Stadt" [formControl]="townFormControl">
  </mat-form-field>
</div>

<div class="content coffee_drink" *ngIf="selectContentFormControl.value  == 'CoffeeDrink'">
  <mat-form-field class="name-form-field">
    <input matInput type="text" placeholder="Name"  required [formControl]="coffeeDrinkNameFormControl">
    <mat-error *ngIf="coffeeDrinkNameFormControl.hasError('required')">Es müss einen Namen angegeben werden</mat-error>
  </mat-form-field>
</div>

<div class="content equipment-category" *ngIf="selectContentFormControl.value  == 'Equipment-category'">
  <mat-form-field class="name-form-field">
    <input matInput type="text" placeholder="Name"  required [formControl]="equipmentCategoryNameFormControl">
    <mat-error *ngIf="equipmentCategoryNameFormControl.hasError('required')">Es müss einen Namen angegeben werden</mat-error>
    <button mat-button *ngIf="!equipmentCategoryNameFormControl.hasError('required')" matSuffix mat-icon-button aria-label="Clear" (click)="equipmentCategoryNameFormControl.reset('')">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
</div>

<div class="content equipment-category" *ngIf="selectContentFormControl.value  == 'Company'">
  <mat-form-field class="name-form-field">
    <input matInput type="text" placeholder="Firmen Name"  required [formControl]="companyNameFormControl">
    <mat-error *ngIf="equipmentCategoryNameFormControl.hasError('required')">Es müss einen Namen angegeben werden</mat-error>
    <button mat-button *ngIf="!companyNameFormControl.hasError('required')" matSuffix mat-icon-button aria-label="Clear" (click)="companyNameFormControl.reset('')">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
</div>



